h1 {
  margin: 0;
  padding: 0;
}

.message-field {
  display: flex;
  flex-direction: column;
  background-color: #e2e2e2;
  height: 50%;
  width: 100%;
  padding: 20px;
  overflow-y: scroll;
}

.heading {
  padding: 15px 0;
  text-align: center;
  background-color: silver;
}

.layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.chat {
  display: flex;
  margin: 5px;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.message {
  background-color: lightblue;
  padding: 5px 15px;
  border-radius: 20px;
  font-size: 18px;
  margin: 5px;
}

.message-sender {
  color: gray;
  font-size: 14px;
}
